<header class="mx-auto flex h-[4.5rem] max-w-(--w) px-8 whitespace-nowrap lg:justify-center">
  <div class="relative z-50 flex items-center ltr:mr-auto rtl:ml-auto">
    <a class="-translate-y-[1px] text-2xl font-medium" href="{{- `` | absURL -}}">{{ site.Title }}</a>
  </div>

  <div
    class="btn-menu relative z-50 flex h-[4.5rem] w-[5rem] shrink-0 cursor-pointer flex-col items-center justify-center gap-2.5 lg:hidden ltr:-mr-8 rtl:-ml-8"
    role="button" aria-label="Menu"></div>

  {{- $bg_color := $.Scratch.Get "bg_color" -}}<!---->

  <script>
    // base
    const htmlClass = document.documentElement.classList;
    setTimeout(() => {
      htmlClass.remove('not-ready');
    }, 10);

    // mobile menu
    const btnMenu = document.querySelector('.btn-menu');
    btnMenu.addEventListener('click', () => {
      htmlClass.toggle('open');
    });

    // dark theme
    const metaTheme = document.querySelector('meta[name="theme-color"]');
    const lightBg = '{{- $bg_color -}}'.replace(/"/g, '');
    const setDark = (isDark) => {
      metaTheme.setAttribute('content', isDark ? "rgb(0 0 0 / 85%)" : lightBg);
      htmlClass[isDark ? 'add' : 'remove']('dark');
      localStorage.setItem('dark', isDark);
    };

    // init
    const darkScheme = window.matchMedia('(prefers-color-scheme: dark)');
    if (htmlClass.contains('dark')) {
      setDark(true);
    } else {
      const darkVal = localStorage.getItem('dark');
      setDark(darkVal ? darkVal === 'true' : darkScheme.matches);
    }

    // listen system
    darkScheme.addEventListener('change', (event) => {
      setDark(event.matches);
    });

    // manual switch
    document.addEventListener('DOMContentLoaded', () => {
      const btnDark = document.querySelector('.btn-dark');
      if (btnDark) {
        btnDark.addEventListener('click', () => {
          setDark(localStorage.getItem('dark') !== 'true');
        });
      }
    });
  </script>

  <div
    class="nav-wrapper fixed inset-x-0 top-full z-40 flex h-full flex-col justify-center bg-(--bg) pb-16 duration-200 select-none lg:static lg:h-auto lg:flex-row lg:bg-transparent! lg:pb-0 lg:transition-none">
    {{- $url := .RelPermalink -}}<!---->
    {{- with site.Menus.main -}}
    <nav class="lg:ml-12 flex flex-row items-center gap-6 lg:gap-8">
      {{- range . -}}
      <a class="text-base font-normal opacity-90 hover:opacity-100 hover:text-accent transition-opacity" href="{{- .URL | relLangURL -}}">{{- .Name -}}</a>
      {{- end -}}
      <button class="btn-dark p-1 text-neutral-600 hover:text-black dark:text-neutral-300 dark:hover:text-white transition-colors cursor-pointer flex items-center justify-center" role="button" aria-label="Toggle Dark Mode">
        <svg class="w-5 h-5 hidden dark:block fill-current" viewBox="0 0 20 20">
          <path fill-rule="evenodd" d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 100 2h1z" clip-rule="evenodd"/>
        </svg>
        <svg class="w-5 h-5 block dark:hidden fill-current" viewBox="0 0 20 20">
          <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"/>
        </svg>
      </button>
    </nav>
    {{- end -}}<!---->
  </div>
</header>